<header class="lp-header absolute top-0 left-0 w-full z-10 text-white bg-black">
  <div class="px-4 py-4 flex items-center justify-between relative lg:px-6">
    <a href="#">
      <h3 class="font-bold text-xl lg:text-2xl xl:text-3xl">
        {{ title }}
      </h3>
    </a>
    <nav class="lp-header__nav">
      <a
        href="https://github.com/ynhs-rosal"
        target="_blank"
        class="flex items-center px-4 py-2"
      >
        <img
          class="w-6 h-6 me-2 rounded-full"
          src="../../../assets/github-mark.svg"
          alt="GitHub"
        />
      </a>
    </nav>
  </div>
</header>
