<div class="flex items-center justify-center">
  <label
    for="file-upload"
    class="flex flex-col items-center justify-center w-3/4 h-24 border-2 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
    [ngClass]="
      (isDraggingFile$ | async) === false
        ? 'border-gray-300'
        : 'border-blue-600'
    "
    lpDragDrop
    (dragOver)="dragOverFile()"
    (dragLeave)="dragLeaveFile()"
    (dropFile)="dropFile($event)"
  >
    <div class="flex items-center justify-center pt-6">
      <svg
        class="w-8 h-8 mr-2 text-gray-500 dark:text-gray-400"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 16"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
        />
      </svg>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        <span class="font-semibold">Click to upload</span> or drag and drop
      </p>
    </div>
    <p class="text-xs text-gray-500 dark:text-gray-400 pb-6">
      PNG, JPEG or JPG
    </p>
    <input
      #fileInput
      id="file-upload"
      class="form-control"
      type="file"
      accept="image/png, image/jpeg, image/jpg"
      multiple
      (change)="browseFile($event)"
      (click)="fileInput.value = null"
      class="hidden"
    />
  </label>
</div>
<div class="flex flex-col items-center justify-center mt-3">
  <div
    class="flex items-center justify-between w-3/4 py-2 border-b-2 border-solid border-gray-300"
    *ngFor="let file of files; let i = index"
  >
    <div class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
        />
      </svg>
      <div class="pl-4">
        <p class="text-sm">{{ file?.name }}</p>
        <p class="text-sm text-gray-400">{{ file?.size | lpFileSize }}</p>
      </div>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 cursor-pointer hover:text-blue-500"
      (click)="removeFile(i)"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
      />
    </svg>
  </div>
</div>
