<lp-header title="GWA Calculator by Logan"></lp-header>
<div class="lp__full-page-wrapper">
  <div class="lp__app lp-section min-h-full">
    <div class="w-[100vw] px-5 lg:px-10 pt-24">
      <lp-wizard [isUploading]="isUploading" [stepCount]="stepCount">
        <div id="lp-wizard__enter-details">
          <h2 class="text-lg font-bold w-full py-0.5 px-4">Upload TOR</h2>
          <p class="text-sm w-full py-0.5 px-4 mb-3">
            Upload your Transcript of Records in jpeg or png format. For best
            result, we recommend to use image that contains only the subject,
            grade and credits.
          </p>

          <div class="pt-6">
            <lp-file-upload
              (fileChanged)="onFileChange($event)"
            ></lp-file-upload>
          </div>
          <div class="flex justify-center items-center gap-2 pt-6">
            <lp-button
              label="Reset"
              (clicked)="reset()"
              [isDisabled]="isUploading || !files?.length"
            ></lp-button>
            <lp-button
              label="Upload"
              (clicked)="upload()"
              [isDisabled]="isUploading || !files?.length"
              [isLoading]="isUploading"
            ></lp-button>
          </div>
        </div>
        <div id="lp-wizard__review-details">
          <h2 class="text-lg font-bold w-full py-0.5 px-4">Verify details</h2>
          <p class="py-0.5 text-sm w-full px-4 mb-3">
            Review the extracted data from your TOR. Edit any incorrect value
            before proceeding with the calculation.
          </p>
          <div class="pt-6">
            <lp-grade-credit-table
              [records]="records"
              [forms]="recordForms"
              [isEditable]="true"
              (rowDeleted)="onDeleteRow($event)"
            ></lp-grade-credit-table>
          </div>
          <div class="flex justify-center items-center gap-2 mt-6">
            <lp-button label="Back" (clicked)="back()"></lp-button>
            <lp-button label="Calculate" (clicked)="calculate()"></lp-button>
          </div>
        </div>
        <div id="lp-wizard__view-result">
          <div class="text-lg w-full py-0.5 px-4">
            <span class="font-bold"> Grade Weighted Average: </span>
            <span>
              {{ gradeWeightedAverage }}
            </span>
          </div>
          <div class="pt-6">
            <lp-grade-credit-table
              [records]="records"
              [forms]="recordForms"
              [isEditable]="false"
            ></lp-grade-credit-table>
          </div>
          <div class="flex justify-center items-center gap-2 mt-6">
            <lp-button label="Back" (clicked)="back()"></lp-button>
            <lp-button label="Try again" (clicked)="reset()"></lp-button>
          </div>
        </div>
      </lp-wizard>
    </div>
  </div>
</div>
<footer class="lp-footer bg-black text-white">
  <div class="lp-section">
    <div class="flex justify-center py-5">
      <div>&#169; 2023 All rights reserved by Logan Projects.</div>
    </div>
  </div>
</footer>
